RewriteEngine On
RewriteBase /SpaVita/

# Si le fichier ou dossier demandé existe, on le laisse passer
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, on redirige vers index.php avec le paramètre "page"
RewriteRule ^ index.php [QSA,L]