
/*Styles spécifique */

/* login et register */
.login-form, .register-form {
    max-width: 400px;
    margin: 40px auto; 
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: var(--radius);
    background-color: var(--white-color);
    box-shadow: var(--shadow);
}

/* Titres des formulaires */
.register-form h2, .login-form h2 {
    color: var(--black-color);
    text-align: center;
    margin-bottom: 20px;
}

/* Champs de saisie */
.login-form input, .register-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: var(--radius);
    font-family: var(--font-body);
    font-size: 14px;
}

/* Boutons */
.login-form button, .register-form button {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover, .register-form button:hover {
    background-color: var(--secondary-color);
}

/* Messages d'erreur */
.error-message {
    background-color: #ffdddd;
    border-left: 4px solid #f44336;
    padding: 10px;
    margin-bottom: 15px;
    color: #d8000c;
    border-radius: var(--radius);
}

/* Mentions en dessous des formulaires */
.register-mention, .login-mention {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

/* Liens */
.register-mention a, .login-mention a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.register-mention a:hover, .login-mention a:hover {
    text-decoration: underline;
}

/* Centrage des titres */
.login-form h2, .register-form h2, .login-form p, .register-form p {
    text-align: center;
}

/* Ajustement de l'affichage pour les appareils mobiles */
@media (max-width: 768px) {
    .login-form, .register-form {
        padding: 20px;
    }

    .login-form h2, .register-form h2, .login-form p, .register-form p {
        width: 100%;
    }
}


/*header*/
header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 15px 50px;
    background-color: #22333B;
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

/*logo*/
.logo-container {
    display: flex;
    align-items: center;
}

/*Style du logo*/
.logo {
    height: 100px; 
    width: 100px;
    border-radius: 50%;
    object-fit: cover; /*ajustement du contenu de l'image*/
    border: 2px solid white;
}

/*Menu principal*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93%;
}
/*Menu*/
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding:0;
    width: 100%; /* Prend toute la largeur disponible */
    margin-right: 40px;
}

/* Séparation entre les deux groupes */
.right-menu {
    margin-left: auto; /* Pousse ce groupe d'éléments vers la droite */
    display: flex;
    align-items: center;
    gap: 20px; /* Ajuste l'espacement entre les éléments de droite */
}

/* Partie gauche (centrée dans le header) */
.left-menu {
    display: flex;
}

/* Menu de la partie gauche */
.left-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    position:relative;
    display: flex;
    align-items: center;
}



nav ul li a, nav ul li:not(:has(a)) { /* Cible les <li> qui ne contiennent pas de lien */
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s ease-in-out;
}

nav ul li a {
    font-weight: bold;
}

/*Trait sous le menu au survol*/
nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #F2F4F3;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: #F2F4F3;
}

/* Contenu textuel */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Prend 100% de la hauteur de la fenêtre */
    background-image: url('../images/spa-hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    flex-shrink: 0;  /* désactiver le rétrécissement pour la section */
}

/* Contenu central */
.hero-content {
    max-width: 50%;
    margin: 0 auto;
}

.hero h1 {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--white-color);
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Services sous forme de liste */
.hero-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    font-size: 16px;
    margin-bottom: 25px;
}

.service {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    border-radius: 5px;
}

/* Boutons */
.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    background: #F2F4F3;
    color: #5E503F;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: #5E503F;
    color: #F2F4F3;
}

.btn-secondary {
    background: transparent;
    color: #F2F4F3;
    border: 2px solid #c0a080;
}



/*PRESENTATION*/
/* SECTION PRESENTATION AVEC LOGO EN FOND ET PARALLAXE */
.presentation {
    position: relative;
    background: url('../images/image2-parallax.png') center / cover fixed; /* Image de fond avec effet parallaxe */
    padding: 100px 0;
    color: black; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Overlay pour rendre le texte plus lisible */
.presentation-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); /* Assombrit légèrement l’image pour lisibilité */
    z-index: 1;
}

/* Conteneur du texte */
.presentation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    max-width: 80%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.75); /* Fond semi-transparent */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Texte en deux colonnes */
.presentation-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 50%;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

/* Ligne de séparation centrale */
.separateur {
    width: 3px;
    height: 80%;
    margin: 0 40px;
    padding: 20px;
    display: block;
    background-color: #5E503F; /* Marron élégant */
}

/* LOGO EN FILIGRANE (TRANSPARENT) */
.presentation::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1200px;  /* Ajuste selon la taille souhaitée */
    height: 600px;
    background: url('../images/logo-transparent.png') no-repeat center / contain;
    opacity: 0.3;  /* Ajuste la transparence pour qu'il soit discret */
    transform: translate(-50%, -50%);
    z-index: 0;
}


/*SECTION SOINS*/
.services {
    padding: 80px 5%;
    background: url('../images/background-soins.png') no-repeat center / cover;
    background-attachment: fixed;
    text-align: center;
    position: relative;
}
/*Ajouter  un overlay pour rendre le texte plus lisible 
.services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
}
/*Remettre le texte et les éléments au premier plan 
.service-list, .section-title, .section-subtitle, .section-button {
    position: relative;
    z-index: 2;
}*/

.section-title {
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 36px;
    color: #5E503F;
    margin-bottom: 40px;
}

/*Liste des soins*/
.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}
/*Cartes de soins*/
.service-item {
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;/*Largeur fixe des cartes*/
    text-align:center;
    transition: transform 0.3s ease-in-out;
}

.service-item:hover {
    transform: translateY(-5px);
}

.service-item img {
    width: 100%;
    height:180px;
    object-fit:cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
/*Style des textes*/
.service-item h3 {
    font-size:22px;
    color:#5E503F;
    margin-bottom: 10px;
}

.service-item p{
    font-size: 16px;
    color:black;
    margin-bottom:15px;
}

/*Prix*/
.price {
    display:block;
    font-size:18px;
    font-weight: bold;
    background: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
}
/*Bouton découvrir soins*/
.service-button {
    margin-top:30px;
}



/*SECTION TEMOIGNAGES*/
.temoignages {
    text-align: center;
    padding: 40px 5%;
    background-color: var(--primary-color);
    color: var(--white-color);
    position: relative;
}

.temoignages .setion-header h2::after {
    background-color: var(--white-color);
}

.temoignage-container {
    display:grid;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.temoignage{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--radius);
   padding: 10px;
    transition: var(--transition);
}

.temoignage:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transform: translateY(-5px);
}

.temoignage-content p {
    font-style: italic;
    margin-bottom: 1rem;
}

.temoignage-auteur {
    text-align: right;
    font-weight: 500;
    color: var(--secondary-color);
}

/*Titre*/
.temoignages h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
.temoignages p {
    font-size: 18px;
    margin-bottom: 40px;
}


/*Flèches de navigation*/
.prev, .next {
    background: none;
    border: none;
    font-size: 30px;
    color: #8D6E63;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}
.prev {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.prev:hover, .next:hover {
    color: #5A4231;
}



/*SECTION SERVICES*/
.services-prestations {
    position: relative;
    background:var(--white-color);
    padding-bottom: 50px;
}
.services-prestations-content {
    display: flex;
    gap: 30px;
    align-items:flex-start;
    justify-content: space-between;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.services-prestations .left {
    flex: 0 0 60%;
    padding: 30px 0;
}

.services-prestations .right {
    flex: 0 0 35%;
    padding: 30px 0;
}

.services-prestations .box {
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: 0.5s;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
}
.services-prestations .box .text{
    padding: 30px 0;
    border: 1px dashed #d4af37; /*doré leger*/
    border-radius: 15px;
}
.services-prestations i {
    font-size: 50px;
    color: var(--tertiary-color);
    transition: 0.5s;
}
.services-prestations h3 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.5s;
    font-family: var(--font-main);
    color: var(--secondary-color);
}
.services-prestations .right img {
    width: 100%;
    display: block;
}

.services-prestations .box:hover {
background: linear-gradient(135deg, #8D6E63, #d4af37);
color:var(--white-color);
cursor: pointer;
transform: translateY(-5px);
box-shadow:0 15px 30px rgba(0, 0, 0, 0.1);
}
.services-prestations .box:hover i,
.services-prestations .box:hover h3 {
    color: var(--white-color);
}

/*
.container-services-prestations p {
    max-width: 600px;
   justify-content: center;
    margin: auto;
    font-size: 18px;
    color: var(--tertiary-color);
    line-height: 1.6;
}*/


/*SECTION CONTACT*/
.contact {
    padding: 2rem 2rem;
   background-color: var(--white-color);
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 1rem 1rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
   /* gap: 1rem;*/
    background-color: var(--white-color);
}

.info-item h3 {
    color: var(--primary-color);
}

.contact-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: var(--radius);
    font-family: var(font-body);
    transition: var(--transition)
}

.contact-form input:focus, .contact-form textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

.contact-form textarea {
    min-height: 150px;
    resize: vertical;
}



/*-------------- PAGE SOIN -----------------------*/
    /*SECTION BANNIERE*/
.container-soin-hero {
    width: 100%;
   max-width: 100%;
   background-color: var(--primary-color);
   text-align: center;
}


.spa-banner-soin {
    position: relative;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);   
}

.spa-banner-soin.visible {
    opacity: 1;
    transform: translateY(0);
}

/*Top section*/
/**/
.main-title {
    color:var(--secondary-color);
    font-family: var(--font-main);
    font-size: 2.25rem;
    letter-spacing: 0.05em;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
    opacity: 0;
    transform: translateY(4px);
    transition: all 0.7s ease-in-out 0.7s;
}
.spa-banner-soin.vsible .main-title {
    opacity: 1;
    transform: translateY(0);
}
.subtitle-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(4px);
    transition: all 0.7s ease-in-out 0.9s;
}
.spa-banner-soin.visible .subtitle-container {
    opacity: 1;
    transform: translateY(0);
}
.subtitle-line {
    width: 2rem;
    height: 1px;
    background-color: var(--white-color);
}
.subtitle {
    color: var(--white-color);
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

/*Main image section*/
.main-soin-image-section {
    position: relative;
    width: 100%;
    height: 580px;
    background-image: url('../../assets/images/soin-hero.jpg');
    background-color: var(--secondary-color);
   background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

/*Effet overlay*/
.main-soin-image-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color:rgba(0, 0, 0, 0.3);
}

/*Contenu de la bannière */

.soin-banner-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white-color);
}
.main-soin-title {
    font-family: var(font-main);
    color: var(--white-color);
    justify-self: center;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 20%;
    margin-bottom:10px;
}
.subtitle{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

/*Discount Box*/
.discount-container {
     position: absolute;
    top: 20px;
    left: 20px;
    z-index:5;
}
.discount-box {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 15px;
    width: 250px;
    height:200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    border:4px solid var(--white-color);
}

.discount-pourcentage {
    font-size: 4rem;
    font-weight: bold;
}
.discount-text {
    font-size: 2rem;
}
.discount-support{
    padding-left: 30px;
    width: 150;
    height: 320px;
    border:2px solid var(--white-color);
}

/*Service-section*/
.soins-service-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -180px; /*Monte legèrement les images pour chevaucher la bannière*/
    z-index:10;
    position: relative;
}

.service-soin-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service-soin-image img{
    width: 240px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid var(--white-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

 
 /*Info-section*/
 .info-soin-section {
    background-color: #f8f5f1;
    padding: 3rem;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 }

/*Hero info */
.hero-soins-info{
    display: flex;
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);*/
    
    align-items: center;
    gap: 50px;
    max-width: 1000px;
    text-align: center;
}
.hero-text-soin, .contact-soin-item{
    flex: 1 1 45%;
    background-color: var(--primary-color);
    justify-content: center;
   
}
.hero-text-soin p{
    font-size:1.2rem;
    line-height: 1.8;
    color: var(--tertiary-color);
    padding-left: 20px;
}
.contact-soin-item h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: var(--tertiary-color)
}
.contact-soin-item i{
    font-size: 2.5rem;
}
.contact-soin-item span {
    font-size: 1rem;
    color: var(--tertiary-color);
}
    /*section en deux colonne*/
    .info-soin-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        justify-content: space-between;
        align-items: start;
        gap: 20px;
    }
    .soin-description {
        flex:1;
        width: 40%;
        font-size: 1.1rem;
        color: #666;
    }

    .services-soin {
        flex:1;
       max-width: 55%;
       display: flex;
       justify-content: space-between;
    }
   
/*Deux colonnes pour la liste des servcies*/
.services-soin-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 48%;
}
.service-soin-item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    background: var(--white-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.service-soin-item:hover {
    transform: scale(1.05);
}
.service-soin-icon {
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-right: 10px;
}
    @media (min-width: 768px) {
        .info-soin-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
     .info-soin-section h2 {
        color: var(--secondary-color);
        font-size: 1.875rem;
        margin-bottom: 0.5rem;
    }
    .description-soin p {
        color: var(--tertiary-color);
        margin-bottom: 2rem;
    }
    .services-soin {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .service-soin-item {
        display:flex;
        align-items:flex-start;
        gap:0.5rem;
        margin-bottom:0.5rem;
    }
    .service-soin-icon {
        color: var(--secondary-color);
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }
    /*Contact information*/
    .contact-soin-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        margin-top:2rem;
        color: var(--tertiary-color);
    }
    .contact-soin-item {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
    .contact-soin-icon {
        color: var(--secondary-color);
        font-size: 1.5rem;
    }
         /*Responsive ajustement */
    @media (min-width: 640px) {
        .service-soin-images {
            flex-direction:column;
            align-items: center;
            bottom: -24rem;
        }
        .service-soin-image {
            width: 100%;
            max-width: 300px;
        }
        .info-soin-section {
            padding-top: 25rem;
        }
        .services-soin {
            grid-template-columns: 1fr;
        }
        .contact-soin-info {
            flex-direction: column;
            align-items: center;
        }
    }

    @media(min-width: 641px) and (max-width: 768px) {
        .service-soin-images {
            bottom: -12rem;
        }
        .info-soin-section {
            padding-top: 13rem;
        }
    }

/*NAVIGATION ANCRE DES SOINS*/
.soin-navigation {
    background: var(--white-color);
    position: relative;
    width: 100%;
    margin-bottom: 220px;
    display: flex;
    justify-content: center;
}
.container-soin-nav-hero {
max-width: 1200px;
width: 100%;
padding: 0 20px;
position: relative;
height: 300px;
}
.soin-nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.soin-nav-links li {
   position: absolute;
   width: 200px;
}

.soin-nav-links i {
    padding: 4px;
 }
 

/*Positionnemnt des onglets Coté gauche*/
.soin-nav-links li:nth-child(1) {
    left: 0;
    top: 30px;
}
.soin-nav-links li:nth-child(2) {
    left: 0;
    top: 110px;
}
.soin-nav-links li:nth-child(3) {
    left: 0;
    top: 190px;
}
/*PPositionnemnt des onglets Coté droit*/
.soin-nav-links li:nth-child(4) {
    right: 0;
    top:30px;
}
.soin-nav-links li:nth-child(5) {
    right: 0;
    top: 110px;
}
.soin-nav-links li:nth-child(6) {
    right: 0;
    top: 190px;
}

.soin-nav-links a {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 600;
    width: 100%;
    padding: 12px 30px;
    border-radius: 30px 0 30px; 
    transition: color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.soin-nav-links a::before{
    content:"";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

/*Onglets color*/
.soin-nav-links li:nth-child(1) a{
    background-color: #D8CBBF;
}
.soin-nav-links li:nth-child(2) a{
    background-color: #8A6343;
}
.soin-nav-links li:nth-child(3) a{
    background-color: #F9F3E8;
}
.soin-nav-links li:nth-child(4) a{
    background-color: #F2EBE1;
}
.soin-nav-links li:nth-child(5) a{
    background-color: #D8CBBF;
}
.soin-nav-links li:nth-child(6) a{
    background-color: #8A6343;
    
}
.soin-nav-links a:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 760px) {
    .container-soin-nav-hero {
        height: auto;
    }
    .soin-nav-links li {
        position: static;
        width: 100%;
        margin-bottom: 10px;
    }
    .soin-nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .soin-nav-links a {
        width: 200px;
        justify-content: center;
    }
}


/*CONTAINER PRINCIPAL*/

.soins-decouverte-container {
    display: grid;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: left;
}

/*Titre categorie carte*/
.categorie-title {
    font-size: 2.5rem;
    color: var(--tertiary-color);
    text-align: left;
    margin: 50px 0 20px 30px;
    font-family: var(--font-main);
    position: relative;
    display: inline-block;
    padding-right: 30px;
}
.categorie-title::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 4px;
    height: 100%;
    background: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
    border-radius: 2px;
}

/*CARTE DE SOIN*/
.soin-card {
    display:flex;
    align-items: center;
   background: var(--white-color);
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}
.soin-card:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: var(--shadow-hover);
}
.soin-card img {
    position: relative;
    width: 40%;
    max-height:250px;
    overflow:hidden;
}
.soin-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
/*Overlay caché par défaut*/
.soin-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;  
}
.soin-decouvrir {
    padding: 8px 16px;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-in-out;
}
.soin-decouvrir:hover {
    color: var(--white-color);

}
.soin-card-img:hover .soin-overlay {
    opacity: 1;
}
.soin-card-img:hover img {
    transform: scale(1.1);
}
.soin-card-content{
    width:60%;
    padding: 20px;
}
.soin-card-content h3 {
    font-size: 24px;
    color: var(--tertiary-color);
    font-weight: bold;
    margin-bottom: 10px;
}
.soin-details {
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #8D6E63;
    font-weight:bold;
    margin-bottom: 15px;
}
.soin-price {
    font-size: 20px;
    font-weight: bold;
}
.soin-card-content p {
    font-size: 16px;
    color:#666;
    margin-bottom: 20px;
}
.btn-primary {
    display:inline-block;
    background: var(--primary-color);
    color: var(--white-color);
    padding: 12px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}
.btn-primary:hover {
    background: var(--secondary-color);
}

@media screen and (max-width: 780px)  {
    .soin-card {
        flex-direction: column;
        text-align:center;
    }
    .soin-card img {
        position: relative;
        width: 100%;
        max-height: 200px;
    }
    .soin-card-img img {
        border-radius: 10px 10px 0 0;
    }
    .soin-card-content {
        width: 100%;
        padding: 15px;
    }
}

/*SECTION OFFRE MOIS*/

/*Animatin d'apparitin de la section offre dumois*/
@keyframes fadeInUp {
from {
    opacity: 0;
    transform: translateY(40px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}
.offre-mois {
    position: relative;
    background-color: var(--white-color);
   /* background: linear-gradient(135deg, var(--primary-color), var(--white-color));*/
    height: 30vh;
    margin-top: -60px;
    z-index: 5;
    display: flex; 
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    padding: 20px;
    /*opacity:0;
    transform: translateY(50px);*/
    animation: fadeInUp 1.5s ease-out forwards;
}

.offre-container {
    text-align: center;
    color: var(--tertiary-color);
    letter-spacing: 1px;
}
.offre-container p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.offre-highlight{
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
    font-family: 'Abril Fatface', cursive;
    background: linear-gradient(135deg, var(--secondary-color), #d4af37);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.offre-highlight::before {
    content: '';
    position: absolute;
    top: 0;
    left:-75%;
    height: 100%;
    width:75%;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 100%
        );
        transform: skewX(-25deg);
        animation: shine 2.5s infinite;
}
@keyframes shine {
    0% {
        left: -75%;
    }
    100% {
        left:125%;
    }
}
.shine-text {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Abril Fatface', curvise;
    background: linear-gradient(135deg, var(--secondary-color), #d4af37);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    line-height: 1;
}
.offre-highlight::before {
    content: '';
    position: absolute;
    top: 0; 
    left:-75%;
    height: 100%;
    width:75%;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 100%
        );
        transform: skewX(-25deg);
        animation: shineEffect 2.5s infinite;
}
@keyframes shineEffect {
    0% {
        left: -75%;
    }
    100% {
        left:125%;
    }
}
.btn-offre {
    display: inline-block;
    background: linear-gradient(135deg, var(--primary-color), var(--tertiary-color), #d4af37);
    color: var(--white-color);
    padding: 15px 45px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 1px;
    box-shadow: 0px 4px 15px rgba(0,À,0.2);
    transition: all 0.3s ease;
}
.btn-offre:hover {
    background: linear-gradient(135deg, #d4af37, var(--secondary-color), var(--primary-color));
    transform: scale(1.08);
}

/*----------------- PAGE RESERVATION---------------------*/
/*Body position relative ?? Arevoir*/ 
    /*SMAIN BOOKING CONTAINER*/

    #calendar-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;    
    }

    #booking-calendar {
        width: 100%;
        max-width: 2200px; 
        display: flex;
    }
    .container-booking{
        width: 100%;
        padding: 1rem;
    }
    .booking-container{   
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
    }
    .booking-main {
        flex: 3;
        width: 100%;
    }
    .booking-recap {
        flex: 1;
    }
    .booking-section {
        background-color: var(--white-color);
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin-bottom: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
    }
    /*Form element*/
    .form-group {
        margin-bottom: 1rem;
    }
    label {
        display: block;
        margin-bottom: 0.25rem;
        font-weight: 500;
        color: var(--tertiary-color)
    }
    .input-field {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #e5e5e5;
        border-radius: 0.25rem;
        transition: border-color 0.3s;
    }
    .input-fiel:focus {
        outline: none;
        border-color: var(--primary-color)
    }
    .input-field:disabled {
        background-color: #e5e5e5;
        cursor: not-allowed;
    }
    textarea.input-field {
        min-height: 100px;
        resize: vertical;
    }

    /*Calendrier*/
    #booking-calendar {
        margin-top: 1rem;
        font-size: 2rem;
    }
    .ui-datepicker {
        width: 100%;
        padding: 0;
        font-family: var(--font-body);
        max-width: none;
    }
    .ui-datepicker .ui-datepicker-header {
        background-color: var(--primary-color);
        border: none;
        border-radius: 0.25rem 0.25rem 0 0;
        padding: 3rem;
    }
    .ui-datepicker .ui-datepicker-title {
        font-family: var(--font-main);
        color: var(--white-color);
        font-size: 1.4rem;
        font-weight: 600;
    }
    .ui-datepicker .ui-datepicker-prev,
    .ui-datepicker .ui-datepicker-next {
        top: 1.2rem;
        cursor: pointer;
    }
    .ui-datepicker .ui-datepicker-prev span-recap,
    .ui-datepicker .ui-datepicker-next span-recap {
        transform: scale(1.5);
    }

    .ui-datepicker table {
        margin: 0.5em auto;
        width: 100%;
    }



    .ui-datepicker th {
        font-weight: 600;
        color: var(--tertiary-color);
        padding: 1rem 0;
    }
    .ui-datepicker td {
        padding: 5px;
        height: 3rem;
    }
    .ui-datepicker td a {
        text-align: center;
        border-radius: 0.25rem;
        transition: all 0.3s;
        padding: 0.8rem;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .ui-datepicker td a.ui-state-default {
        background: none;
        border: 1px solid transparent;
    }
    .ui-datepicker td a.ui-state-active {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-color: var(--primary-color);
        font-weight: bold;
    }
    .ui-datepicker td a.ui-state-hover {
        background-color: #bfab96;
        color: var(--white-color);
    }

    .ui-datepicker td a.ui-state-disabled {
        opacity: 0.5;
    }

    /*BUtton navigation calendrier*/




    /*Recaptipulative section*/
    .recap-item {
        margin-bottom: 0.5rem;
    }
    .recap-header  {
        display: flex;
        align-items: center;
        margin-bottom: 0.25rem;
        font-weight: 500;
    }
    .recap-header i {
        color: var(--primary-color);
        margin-right: 0.5rem;
    }
    .recap-content {
        padding-left:calc(0.5rem) + 0.5rem;
    }
    .empty-message {
        font-style: italic;
        color: #888;
    }
    #soin-list {
        list-style: none;
        margin-top: 0.5rem;
    }
    #soin-list li {
        display: flex;
        justify-content: space-between;
        padding: 0.25rem 0;
        border-bottom: 1px solid #e5e5e5;
    }
    #soin-list li:last-child {
       border-bottom: none;
    }
    .treatment-details {
        flex: 1;
    }
    .treatment-actions {
        display: flex;
        align-items: center;
    }
    .treatment-price {
        margin-right: 0.5rem;
    }
    .remove-treatment {
        color: var(--danger);
        background: none;
        border: none;
        cursor: poiner;
        font-size: 0.9rem;
        transition: opacity 0.3s;
    }
    .remove-treatment:hover {
        opacity: 0.7;
    }

    .recap-total {
        margin-top: 1rem;
        font-weight: 700;
        text-align: right;
        padding-top: 0.5rem;
        border-top: 1px solid #e5e5e5;
    }